/*  All custom css  */

h1 {
  color: #494949;
}

button {
  /* margin-left: 280px;*/
  position: relative;
  left: 250px;
  padding: 20px;
  font-size: 25px;
  margin-top: 40px;
}

.flag {
  background-color: blue;
  height: 500px;
  width: 900px;
  position: relative;
}

.star-one {
  color: red;
  font-size: 50px;
  position: absolute;
  top: 25%;
  right: 50px;
}

.flag-stick {
  position: absolute;
  height: 800px;
  width: 40px;
  background-color: black;
  z-index: 999;
}
